h1 {
  text-align: center;
  font-family: "Didot", Didot, serif;
  font-size: 80px;
  color: #d4933d;
}

h2 {
  color: #d4933d;
}

h3 {
  color: #d4933d;
}
h5 {
  color: white;
}
bottomphoto {
  top: 300px;
  position: absolute;
}

body {
  background-color: #521614;
}

a:link, a:visited {
  border-radius: 25px;
  background-color: #8c191a;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin: 0 auto;
}

a:hover, a:active {
  background-color: #bd2c28;
}
